
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{date}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>